
.header {
    /* width: 80%;
    height: 5rem; */
    background-color: white;
    padding: 53px;
  }
  
  nav {
    height: 100%;
    background-color: black;
   
  }
  
  ul {
    /* height: 100%; */
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  li {
    margin: 0 3rem;
    width: 8rem;
    /* padding: 3px; */
  }
  
 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #a7b8a4;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
  }